@model AccesoDatos.Models.Auspiciador

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Nuevo Auspiciador</h3>
                    @using (Html.BeginForm("Agregar", "Auspiciador", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)


                        <div class="form-group">
                            <label for="inputNombre" class="control-label col-xs-2">Nombre:</label>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(model => model.nombre, new { @type = "text", @class = "form-control", @placeholder = "Nombre del auspiciador", required = "required " })
                                @Html.ValidationMessageFor(model => model.nombre)
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputDescripcion" class="control-label col-xs-2">Descripción:</label>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(model => model.descripcion, new { @type = "text", @class = "form-control", @placeholder = "Descripción del auspiciador", required = "required " })
                                @Html.ValidationMessageFor(model => model.descripcion)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDescripcion" class="control-label col-xs-2">Sitio Web:</label>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(model => model.website, new { @type = "text", @class = "form-control", @placeholder = "Sitio Web del auspiciador" })
                                @Html.ValidationMessageFor(model => model.website)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAdjuntar" class="control-label col-xs-2">Logo:</label>
                            <div class="col-xs-5">
                                <!----input id="file" type="file" name="file"> -->
                                <input id="file" type="file" name="file" style="display:none">
                                <div class="input-append">
                                    <input id="photoCover" class="input-large" type="text" readonly>
                                    <a class="btn btn-info" onclick="$('input[id=file]').click();">Browse</a>
                                </div>
                            </div>
                        </div>

                        <div class='wrapper text-center'>
                            <div class="col-xs-5">
                                @Html.ActionLink("Atras", "Index", "Auspiciador", new { @class = "btn btn-danger" })
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('input[id=file]').change(function () {
        $('#photoCover').val($(this).val());
    });
</script>