@model IEnumerable<AccesoDatos.Models.Auspiciador>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <p>
                @Html.ActionLink("Agregar Auspiciador", "Agregar", "Auspiciador", new { @class = "btn btn-primary" })
            </p>
            <table id="example" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID Auspiciador</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>url_logo</th>
                        <th></th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>ID Auspiciador</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>url_logo</th>
                        <th></th>
                    </tr>
                </tfoot>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id_auspiciador)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.url_logo)
                            </td>
                            <td align="center">
                                @Html.ActionLink(" ", "Editar", new { id = item.id_auspiciador }, new { @rel = "tooltip", @title = "Editar", @class = "fa fa-pencil-square-o" })
                                @Html.ActionLink(" ", "DeleteConfirmed", new { id = item.id_auspiciador }, new { @rel = "tooltip", @title = "Eliminar", @class = "fa fa-trash-o", onclick = "return confirm('¿Está seguro que desea eliminar al evento?');" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>