@model IEnumerable<AccesoDatos.Models.Reporte>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div>
                @Html.ActionLink("Crear Reporte", "Crear", "Reporte", new { @class = "btn btn-primary" })
            </div>
            <p></p>
            <div>
                <table id="example" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.reporte_id)</td>
                                <td>@Html.DisplayFor(modelItem => item.fecha.Date)</td>
                                <td align="center">
                                    @Html.ActionLink(" ", "verPdf", new { id = item.reporte_id }, new { @rel = "tooltip", @title = "Abrir PDF", @class = "fa fa-file-o" })
                                    @Html.ActionLink(" ", "Enviar_Correo", new { id = item.reporte_id }, new { @rel = "tooltip", @title = "Enviar por Correo", @class = "fa fa-envelope-o" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



