@{
    Layout = null;
    var total = 0;
    foreach(var item in @ViewBag.Columnas)
    {
        total += item.costo;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Reporte de gastos</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container">
        <h2>Tania Gónzález Cabello</h2>
        <p>Fecha: @DateTime.Now</p>
        
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="text-align: center">Fecha</th>
                    <th style="text-align: center">Detalle</th>
                    <th style="text-align: center"># Boleta</th>
                    <th style="text-align: center">Costo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Columnas)
                {
                    <tr>
                        <td>@item.fecha</td>
                        <td>@item.detalle</td>
                        <td>@item.num_boleta</td>
                        <td align="center">@item.costo</td>
                    </tr>
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td align="center"><strong>@total</strong></td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: r"><strong>Muchas gracias...!!!</strong></p>
    </div>
</body>
</html>