@model AccesoDatos.Models.Logro
@{
    ViewBag.Title = "Editar Logro";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-success">
                <div class="panel-heading"><h4>@ViewBag.Title</h4></div>
                <div class="panel-body">
                    @using (Html.BeginForm("Editar", "Logro", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.id_logro)

                        <fieldset>
                            <legend>Formulario del logro</legend>
                            <div class="form-group">
                                <label for="inputTitulo" class="control-label col-xs-2">Nombre:</label>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(model => model.titulo, new { @type = "text", @class = "form-control", @placeholder = "Titulo del Logro", required = "required " })
                                    @Html.ValidationMessageFor(model => model.titulo)
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="inputFecha" class="control-label col-xs-2">Fecha:</label>
                                <div class="col-xs-5 date">
                                    <div class="input-group input-append date" id="datePicker">
                                        @Html.TextBoxFor(model => model.fecha, new { @type = "text", @class = "form-control", @name = "date", required = "required " })
                                        @Html.ValidationMessageFor(model => model.fecha)
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputDescripcion" class="control-label col-xs-2">Descripcion:</label>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(model => model.descripcion, new { @type = "text", @class = "form-control", @placeholder = "Descripcion de la Disciplina", required = "required " })
                                    @Html.ValidationMessageFor(model => model.descripcion)
                                </div>
                            </div>

                            <div class='wrapper text-center'>
                                <div class="col-xs-5">
                                    @Html.ActionLink("Atras", "Index", "Logro", new { @class = "btn btn-danger" })
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
