@model TaniaMVC.Models.Correo

<section id="contactUs" class="page-section secPad">
    <div class="container">

        <div class="row">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>Let's Keep In Touch!</h2>
                <p>Thank you for visiting out my profile. If you would like to get into contact with me, please fill out the form below.</p>
            </div>
        </div>

        <div class="row mrgn30">

            @using (Html.BeginForm("_Contacto","Home", FormMethod.Post)) 
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">Email</label>
                        @Html.TextBoxFor(model => model.From, new {  @class = "form-control", @type = "email", @name = "email", @id = "email", @placeholder = "Ingresa el email", @title = "Por favor ingresa una dirección de correo valida" })
                        @Html.ValidationMessageFor(model => model.From)
                    </div>
                    <div class="editor-field">
                        <label for="subject">Asunto</label>
                        @Html.TextBoxFor(model => model.Subject, new { @type="text", @class="form-control", @name="subject", @id="subject", @placeholder="Enter subject", @title="Por favor ingresa el asunto (al menos 2 caracteres)" })
                        @Html.ValidationMessageFor(model => model.Subject)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="comments">Commentarios</label>
                        @Html.TextAreaFor(model => model.Body, new { @name="comment",  @class="form-control", @id="comments", @cols="3", @rows="5", @placeholder="Ingresa tu mensaje…", @title="Por favor ingresa tu mensaje (al menos 10 caracteres)" })
                        @Html.ValidationMessageFor(model => model.Body)
                    </div>
                    <button name="submit" type="submit" class="btn btn-lg btn-primary" id="submit">Send</button>
                    <div class="result"></div>
                </div>
            }
            <div class="col-sm-4">
                <h4>Address:</h4>
                <address>
                    Tania González Web<br>
                    Curicó<br>
                    Licantén
                    <br>
                </address>
                <h4>Phone:</h4>
                <address>
                    12345-49589-2<br>
                </address>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>