@model IEnumerable<AccesoDatos.Models.Logro>

@{ var i = 0;
   string[] meses = {"En", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"}; }

<section id="logros" class="secPad">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>Mi Experiencia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
        </div>
        <div id="timeline">
            <div class="row timeline-movement timeline-movement-top">
                <div class="timeline-badge timeline-future-movement">
                    <a href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <div class="timeline-badge timeline-filter-movement">
                    <a href="#">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </div>

            </div>

            @foreach (var item in Model)
            {
                <div class="row timeline-movement">

                    @if (@i % 2 == 0)
                    {

                        <div class="timeline-badge">
                            <span class="timeline-balloon-date-day">@item.fecha.Year</span>
                            <span class="timeline-balloon-date-month">@meses[@item.fecha.Month-1]</span>
                        </div>

                        <div class="col-sm-offset-6 col-sm-6  timeline-item">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-11">
                                    <div class="timeline-panel debits">
                                        <ul class="timeline-panel-ul">
                                            <li><span class="importo">@item.titulo</span></li>
                                            <li><span class="causale">@item.descripcion</span> </li>
                                            <li><p><small class="text-muted">@item.fecha</small></p> </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        i++;
                    }
                    else
                    {
                        <div class="timeline-badge">
                            <span class="timeline-balloon-date-day">@item.fecha.Year</span>
                            <span class="timeline-balloon-date-month">@meses[@item.fecha.Month-1]</span>
                        </div>

                        <div class="col-sm-6  timeline-item">
                            <div class="row">
                                <div class="col-sm-11">
                                    <div class="timeline-panel credits">
                                        <ul class="timeline-panel-ul">
                                            <li><span class="importo">@item.titulo</span></li>
                                            <li><span class="causale">@item.descripcion</span> </li>
                                            <li><p><small class="text-muted">@item.fecha</small></p> </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        i++;
                    }
                </div>

            }
        </div>
    </div>

</section>