@model IEnumerable<AccesoDatos.Models.Foto>
@{
    List<AccesoDatos.Models.Categoria> categorias = ViewBag.categorias;
}

<section id="portfolio" class="page-section section appear clearfix secPad">
    <div class="container">

        <div class="heading text-center">
            <!-- Heading -->
            <h2>Portafolio</h2>
            <p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
        </div>

        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                    @foreach(var categoria in categorias)
                    {
                        <li><a href="#" class="btn-theme btn-small" data-filter=".@categoria.nombre">@categoria.nombre</a></li>    
                    }
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix" id="3">
                        <!-- Mis Inicios-->
                        @foreach(var foto in Model)
                        {
                            <article class="col-sm-4 isotopeItem @foto.Categoria.nombre">
                                <div class="portfolio-item">
                                    <img src="@foto.url" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="@foto.url" class="fancybox">
                                                <h5>@foto.descripcion</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>