@{
    ViewBag.Title = "Tania González Website";
}
<!--Home-->
@Html.Partial("_Portada")
<!--About-->
@Html.Partial("_About")

<!--Quote-->
<section id="quote" class="bg-parlex">
    <div class="parlex-back">
        <div class="container secPad text-center">
            <h2>If I asked people what they wanted, they would have said ‘Faster Horses’.</h2><h3>-Henry Ford</h3>
        </div>
        <!--/.container-->
    </div>
</section>

<!--Experience-->
@Html.Partial("_Experiencia")

<!--Logros-->
@Html.Action("_Logros")

<!--Portfolio-->
@Html.Partial("_Portafolio")

<!--Eventos-->
@Html.Action("_Eventos")

<!--Auspiciadores-->
@Html.Partial("_Auspiciadores")

<!--Contact -->
@Html.Partial("_Contacto")

<!--/.page-section-->
<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>