@model TaniaMVC.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class="form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="panel panel-warning">
        <div class="panel-heading"><h4>Cambiar contraseña</h4></div>
        <div class="panel-body">
            <fieldset>
                <legend>Formulario de cambio de contraseña</legend>
                <div class="form-group">
                    <label for="inputNombre" class="control-label col-xs-2">@Html.LabelFor(m => m.OldPassword)</label>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @type = "text", @class = "form-control", @placeholder = "Contraseña antigua", required = "required " })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNombre" class="control-label col-xs-2">@Html.LabelFor(m => m.NewPassword)</label>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @type = "text", @class = "form-control", @placeholder = "Contraseña nueva", required = "required " })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNombre" class="control-label col-xs-2">@Html.LabelFor(m => m.ConfirmPassword)</label>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @type = "text", @class = "form-control", @placeholder = "Confirmar contraseña nueva", required = "required " })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}
