@model TaniaMVC.Models.LoginModel

@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="panel panel-default" style="background-color: rgba(255,255,255,.7)">
    <div class="panel-body">

        <p class="titulo">Bienvenido @Html.ActionLink(" ", "Index", "Home", null , new { @rel = "tooltip", @title = "Home",  @class = "fa fa-home"})</p>
        <p class="subtitulo">Tania González Web Official </p>
        <p class="subtitulo2">Ingrese a su plataforma de administración</p>


        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <p>
                @Html.LabelFor(m => m.UserName, new { @class = "log" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "box" })
                @Html.ValidationMessageFor(m => m.UserName)
            </p>
            <p>
                @Html.LabelFor(m => m.Password, new { @class = "log" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "box" })
                @Html.ValidationMessageFor(m => m.Password)
            </p>
            <p>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </p>
            <p>
                <input type="submit" class="btn-form-log pull-right" value="Iniciar sesión" />
            </p>
            <p>
                @Html.ActionLink("Registrarse", "Register", "Account", null ,new { @class = "btn btn-warning" })
            </p>
            
        }
    </div>
</div>