@model AccesoDatos.Models.Foto

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            @using (Html.BeginForm("Agregar", "Portafolio", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Foto</legend>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.nombre)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.nombre)
                        @Html.ValidationMessageFor(model => model.nombre)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.descripcion)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.descripcion)
                        @Html.ValidationMessageFor(model => model.descripcion)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Categoria)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Categorias", null, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Categoria)
                    </div>


                    <div class="editor-label">
                        @Html.LabelFor(model => model.url)
                    </div>
                    <div class="editor-field">
                        <label for="subject">Adjuntar</label>
                        <input id="file" type="file" name="file">
                    </div>

                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>