<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tania Gonzalez Web</title>

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/themes/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/css/styles - login.css" />
    <link href="~/Content/font/css/font-awesome.min.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.backstretch.min.js"></script>

    @if (TempData["ErrorLogin"] != null)
    {
        <script>alert("@TempData["ErrorLogin"]");</script>
    }
</head>
<body>

    <!--contenedor general-->
    <div class="container" id="wrapper">
        <div class="col-sm-3 col-md-4"></div>
        <div class="col-sm-6 col-md-4">
            <!--contenedor login-->
            <div class="content_login">
                @RenderBody()
            </div>
            <!--end contenedor login-->
        </div>
        <div class="col-sm-3 col-md-4"></div>
    </div>
    <!-- end contenedor general -->
    <!--footer-->
    <div class="footer">
        <div class="col-sm-6 col-md-6">
            <p class="foot">
                © Copyright @DateTime.Now.Year  - Todos los derechos reservados<br>
                Grupo E | Tecnologias Web<br>
            </p>
        </div>
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
    <!--end footer-->
    <!--función para imagen de fondo responsive compatible iExplorer 8-->
    <script>
        $(document).ready(function () {
            $.backstretch("../Images/tania.jpg");
        });
    </script>
    <!--end script-->
    @RenderSection("scripts", required: false)
</body>
</html>
